* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background-color: #181818;
  text-align: center;
}

#centering-div {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 101px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#heading-eyebrow {
  border: 1px solid #414141;
  border-radius: 37px;
  padding: 8px;
  color: #d7d7d7;
  font-size: 16px;
}

#heading-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#heading-main h1 {
  display: flex;
  align-items: center;
  gap: 19px;
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
}

#heading-main h1 img {
  width: 68px;
  height: 61px;
}

#heading-main p {
  font-size: 16px;
  color: #9d9d9d;
}
